<header class="header">
    <div class="logo">
        <span>Loftschool</span>
    </div>
    <div class="title"> Геоотзывы</div>
    <div id="headerUser" class="headder-user">
        <span> {{ first_name }}  {{ last_name }}</span>
        <button id="buttonLoginVk" class="user__button">Войти через ВК</button>
    </div>
    <button id="buttonLogout" class="user__button hide">Выйти</button>
</header>