<div class="balloon">
    <header> {{ address }} </header>
    <main>
        <ul id="commentsList">
            {{#each users}}
                <li>
                    <b>{{ name }}</b>
                    <p>{{ comments }}</p>
                </li>
            {{/each}}
        </ul>

        <h3> Ваш отзыв </h3>
        <input id="userName" placeholder="Ваше имя" type="text"><br>
        <input id="userPlace" placeholder="Укажите место" type="text"><br>
        <textarea name="" id="userComment" placeholder="Поделитесь впечатлениями" rows="5"></textarea><br>
        <button id="commentButtonAdd">Добавить</button>
    </main>
</div>