main.georeviews {
    height: 100%;
}


.balloon {
    margin: 15px;

    ul {
        padding-left: 16px;
        height: 100px;
        overflow-y: auto;
    }

    p {
        margin-top: 8px;
        margin-bottom: 16px;
    }
    
    textarea {
        resize: none;
        width: 100%;
    }
}

input {
    width: 100%;
}