body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#header {
    flex: 0;
}

#main {
    flex: 1;
}